body {
    background-image: url(../assests/assets/bgtexture.jpg);

}

.nav {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-right: 100px;
}