<<<<<<< HEAD

=======
<<<<<<< HEAD
>>>>>>> 8dce45f (commit style)
.Bgimage{
<<<<<<< HEAD
    background-image: url(../);
=======
    background-image: url(../assets/bgtexture.jpg);
<<<<<<< HEAD
    position: relative;
>>>>>>> 1badf74 (stuff)
=======
>>>>>>> d39ee3f (bg pic)
}

.nav-item{
    font-size: 20px;
    color: #5F002B;
}
.catWhiteBox{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 1px;
}
.fontC{
    color: #5F002B;
    text-align: center;
    font-family: Fugaz One,Regular ;
}
.tomatoImg{
    padding: 0px;
    height:100%;
    width: 100%;
     /* overflow:hidden;
     overflow-inline:hidden; */


}
.W{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.cateringHeroI{
    background-image: url(../assets/cateringHero.jpg);
    margin-top: 4%;
    background-image: cover;
    height: 50vh;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.txtAlignLeft{
    text-align: start;
color: #5F002B;
    font-family: Fugaz One,Regular ;

   
}
.oCsPadding{
    padding: 3%;
    
}
.bg2{
   /* margin-left: 1%; */
    background-color: rgb(255, 255, 255);
}
.photosB{
    border: 3px solid rgb(255, 255, 255)

}

@media only screen and (min-width: 200px) and (max-width: 480px){
   .cateringHeroI{
    margin-top: 5%;
    background-image: url(../assets/cateringHero.jpg);
    background-image: cover;
    height: 150px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
   }
   .bg2{
    width: 100%;
   }

}
@media only screen and (min-width: 481px) and (max-width: 767px){
    .bg2{
        width: 100%;
       }
}

body{
    font-family: "FugazOne Regular";
}
.cFont{
    font-family: "Montauk Regular";
    color: #5F002B;
}

@font-face {
    font-family: "Montauk Regular";
    src: url("../fonts/Montauk-Regular.otf");
}

@font-face {
    font-family: "Montauk Bold";
    src: url("../fonts/Montauk-Bold.otf");
}

@font-face {
    font-family: "Montauk Italic";
    src: url("../fonts/Montauk-Italic.otf");
}

@font-face {
    font-family: "Montauk Light";
    src: url("../fonts/Montauk-Light.otf");
}
@font-face {
    font-family: "FugazOne Regular";
    src: url("../fonts/Fugaz_One/FugazOne-Regular.ttf");
}


.Bgimage{
    background-image: url(../assets/bgtexture.jpg);
}
.space{
    display: flex;
    justify-content: space-around;
}
.nav-item{
    font-size: 15px;
    color: #5F002B;
}
.catWhiteBox{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 1px;
}
.fontC{
    color: #5F002B;
    text-align: center;
    font-family: Fugaz One,Regular ;
}
.tomatoImg{
    padding: 0px;
    height:100%;
    width: 100%;
     /* overflow:hidden;
     overflow-inline:hidden; */


}
.cateringHeroI{
    background-image: url(../assets/cateringHero.jpg);
    margin-top: 4%;
    background-image: cover;
    height: 50vh;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.txtAlignLeft{
    text-align: start;
color: #5F002B;
    font-family: Fugaz One,Regular ;

   
}
.oCsPadding{
    padding: 3%;
    
}
.bg2{
   /* margin-left: 1%; */
    background-color: rgb(255, 255, 255);
}
.photosB{
    border: 3px solid rgb(255, 255, 255)

}

@media only screen and (min-width: 200px) and (max-width: 480px){
   .cateringHeroI{
    margin-top: 5%;
    background-image: url(../assets/cateringHero.jpg);
    background-image: cover;
    height: 150px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
   }
   .bg2{
    width: 100%;
   }

}
@media only screen and (min-width: 481px) and (max-width: 767px){
    .bg2{
        width: 100%;
       }
}

body{
    font-family: "FugazOne Regular";
}
.cFont{
    font-family: "Montauk Regular";
    color: #5F002B;
}

@font-face {
    font-family: "Montauk Regular";
    src: url("../fonts/Montauk-Regular.otf");
}

@font-face {
    font-family: "Montauk Bold";
    src: url("../fonts/Montauk-Bold.otf");
}

@font-face {
    font-family: "Montauk Italic";
    src: url("../fonts/Montauk-Italic.otf");
}

@font-face {
    font-family: "Montauk Light";
    src: url("../fonts/Montauk-Light.otf");
}
@font-face {
    font-family: "FugazOne Regular";
    src: url("../fonts/Fugaz_One/FugazOne-Regular.ttf");
}


=======
body {
    background-image: url(../assests/assets/bgtexture.jpg);
}
>>>>>>> d47ac33 (commit style)
.Bgimage{
    background-image: url(../assets/bgtexture.jpg);
}

<<<<<<< HEAD
.catWhiteBox{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 1px;
}
.fontC{
    color: #5F002B;
    text-align: center;
    font-family: Fugaz One,Regular ;
}

.tomatoImg{
    padding-right: 3%;
    height:100%;
    width: 100%;


}
.cateringHeroI{
    background-image: url(../assets/cateringHero.jpg);
    margin-top: 4%;
    background-image: cover;
    height: 50vh;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.txtAlignLeft{
    text-align: start;
    color: #5F002B;
    font-family: Fugaz One,Regular ;

   
}

.oCsPadding{
    padding: 2%;
    
}
.NOPAdding{
    padding-right: 0px;
    padding-left: 0px;

}
.bg2{
   /* margin-left: 1%; */
    background-color: rgb(255, 255, 255);
}
.photosB{
    border: 8px solid rgb(255, 255, 255)

}

@media only screen and (min-width: 200px) and (max-width: 480px){
   .cateringHeroI{
    margin-top: 5%;
    background-image: url(../assets/cateringHero.jpg);
    background-image: cover;
    height: 190px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
   }
   .bg2{
    width: 100%;
   }
   .W{
    padding: 0px;
}
.tomatoImg{
    padding:0%;


}
}
@media only screen and (min-width: 481px) and (max-width: 767px){
    .bg2{
        width: 100%;
       }
    .W{
        padding: 0px;
    }
    .tomatoImg{
        padding:0%;
    
    
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 991px){

    .W{
        padding: 0px;
    }
    .tomatoImg{
        padding:0%;
    
    
    }


}
<<<<<<< HEAD


=======
>>>>>>> edaf674 (catering)



body{
    font-family: "FugazOne Regular";
}
.cFont{
    font-family: "Montauk Regular";
    color: #5F002B;
}
.fFont{
padding-top: 3% ;
   font-family: "Montauk Light";
   color: #5F002B;
}
.fMargin{
    margin-bottom: 1%;

}

<<<<<<< HEAD

=======
>>>>>>> 1badf74 (stuff)

@font-face {
    font-family: "Montauk Regular";
    src: url("../fonts/Montauk-Regular.otf");
}

@font-face {
    font-family: "Montauk Bold";
    src: url("../fonts/Montauk-Bold.otf");
}

@font-face {
    font-family: "Montauk Italic";
    src: url("../fonts/Montauk-Italic.otf");
}

@font-face {
    font-family: "Montauk Light";
    src: url("../fonts/Montauk-Light.otf");
}
@font-face {
    font-family: "FugazOne Regular";
    src: url("../fonts/Fugaz_One/FugazOne-Regular.ttf");
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 7a27a00 (my push)
.space {
    display: flex;
    justify-content: space-around;
    padding-right: 60px;
}

.myImg {
    padding-left: 50px;
}

.heroImg {
    width: 100%;
}

.sandImg {
    padding-right: 30px;
}

.CT {
    padding-top: 10px;
    color: #5F002B;
}

.pads {
    padding-right: 10px;
    padding-left: 10px;
<<<<<<< HEAD
}

h3 {
    padding-left: 20px;
    padding-top: 30px;
    color: #5F002B;
    font-size: 40px;
}

.bgColor {
    background-color: white;
}

.padIt {
    padding-left: 20px;
    padding-right: 10px;
}

.aboutImg {
    padding-right: 10px;
}

h4 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #5F002B;
    background-color: white;
=======
=======

<<<<<<< HEAD
>>>>>>> 61736f3 (maxschanges)
body {
    background-image: url(../assests/assets/bgtexture.jpg);
>>>>>>> aa361c2 (nextcommit)
=======
>>>>>>> 7a27a00 (my push)
}
=======
.color {
    color: #5F002B;
}
<<<<<<< HEAD

.footText {
    font-size: 15px;
}

.footPad {
    padding-top: 20px;
}
=======
/* .space{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  } */
=======
>>>>>>> d783994 (stuff)
.nav-item{
    font-size: 20px;
    color: #5F002B;
    font-weight: 1px;
}
.catWhiteBox{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 1px;
}
.fontC{
    color: #5F002B;
    text-align: center;
    font-family: Fugaz One,Regular ;
}

.tomatoImg{
    padding-right: 3%;
    height:100%;
    width: 100%;


}
.W{
    width: 100%;
    padding-left: 0px;
    padding-right:12px;
}
.cateringHeroI{
    background-image: url(../assets/cateringHero.jpg);
    margin-top: 4%;
    background-image: cover;
    height: 50vh;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.txtAlignLeft{
    text-align: start;
color: #5F002B;
    font-family: Fugaz One,Regular ;

   
}

.oCsPadding{
    padding: 2%;
    
}
.NOPAdding{
    padding-right: 0px;
    padding-left: 0px;

}
.bg2{
   /* margin-left: 1%; */
    background-color: rgb(255, 255, 255);
}
.photosB{
    border: 7px solid rgb(255, 255, 255)

}

@media only screen and (min-width: 200px) and (max-width: 480px){
   .cateringHeroI{
    margin-top: 5%;
    background-image: url(../assets/cateringHero.jpg);
    background-image: cover;
    height: 190px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
   }
   .bg2{
    width: 100%;
   }
   .W{
    padding: 0px;
}
.tomatoImg{
    padding:0%;


}
}
@media only screen and (min-width: 481px) and (max-width: 767px){
    .bg2{
        width: 100%;
       }
    .W{
        padding: 0px;
    }
    .tomatoImg{
        padding:0%;
    
    
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 991px){

    .W{
        padding: 0px;
    }
    .tomatoImg{
        padding:0%;
    
    
    }


}



body{
    font-family: "FugazOne Regular";
}
.cFont{
    font-family: "Montauk Regular";
    color: #5F002B;
}
.fFont{
padding-top: 3% ;
   font-family: "Montauk Light";
   color: #5F002B;
}
.fMargin{
    margin-bottom: 1%;

}


@font-face {
    font-family: "Montauk Regular";
    src: url("../fonts/Montauk-Regular.otf");
}

@font-face {
    font-family: "Montauk Bold";
    src: url("../fonts/Montauk-Bold.otf");
}

@font-face {
    font-family: "Montauk Italic";
    src: url("../fonts/Montauk-Italic.otf");
}

@font-face {
    font-family: "Montauk Light";
    src: url("../fonts/Montauk-Light.otf");
}
@font-face {
    font-family: "FugazOne Regular";
    src: url("../fonts/Fugaz_One/FugazOne-Regular.ttf");
}

.Bgimage{
    background-image: url(../assets/bgtexture.jpg);
}
/* .space{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  } */
.nav-item{
    font-size: 20px;
    color: #5F002B;
}
.catWhiteBox{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 1px;
}
.fontC{
    color: #5F002B;
    text-align: center;
    font-family: Fugaz One,Regular ;
}
.tomatoImg{
    padding: 0px;
    height:100%;
    width: 100%;
     /* overflow:hidden;
     overflow-inline:hidden; */


}
.W{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.cateringHeroI{
    background-image: url(../assets/cateringHero.jpg);
    margin-top: 4%;
    background-image: cover;
    height: 50vh;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.txtAlignLeft{
    text-align: start;
    color: #5F002B;
    font-family: Fugaz One,Regular ;

   
}
.oCsPadding{
    padding: 3%;
    
}
.bg2{
   /* margin-left: 1%; */
    background-color: rgb(255, 255, 255);
}
.photosB{
    border: 3px solid rgb(255, 255, 255)

}

@media only screen and (min-width: 200px) and (max-width: 480px){
   .cateringHeroI{
    margin-top: 5%;
    background-image: url(../assets/cateringHero.jpg);
    background-image: cover;
    height: 150px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
   }
   .bg2{
    width: 100%;
   }

}
@media only screen and (min-width: 481px) and (max-width: 767px){
    .bg2{
        width: 100%;
       }
}

body{
    font-family: "FugazOne Regular";
}
.cFont{
    font-family: "Montauk Regular";
    color: #5F002B;
}

@font-face {
    font-family: "Montauk Regular";
    src: url("../fonts/Montauk-Regular.otf");
}

@font-face {
    font-family: "Montauk Bold";
    src: url("../fonts/Montauk-Bold.otf");
}

@font-face {
    font-family: "Montauk Italic";
    src: url("../fonts/Montauk-Italic.otf");
}

@font-face {
    font-family: "Montauk Light";
    src: url("../fonts/Montauk-Light.otf");
}
@font-face {
    font-family: "FugazOne Regular";
    src: url("../fonts/Fugaz_One/FugazOne-Regular.ttf");
}
<<<<<<< HEAD
>>>>>>> 11d7ac5 (my push)
<<<<<<< HEAD
>>>>>>> 67aed10 (my push)
=======
=======

.space {
    display: flex;
    justify-content: space-around;
    padding-right: 60px;
}

.myImg {
    padding-left: 50px;
}

.heroImg {
    width: 100%;
}

.sandImg {
    padding-right: 30px;
}

.CT {
    padding-top: 10px;
    color: #5F002B;
}

.pads {
    padding-right: 10px;
    padding-left: 10px;
}

h3 {
    padding-left: 20px;
    padding-top: 30px;
    color: #5F002B;
    font-size: 40px;
}

.bgColor {
    background-color: white;
}

.padIt {
    padding-left: 20px;
    padding-right: 10px;
}

.aboutImg {
    padding-right: 10px;
}

h4 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #5F002B;
    background-color: white;
}

.color {
    color: #5F002B;
}

.footText {
    font-size: 15px;
}

.footPad {
    padding-top: 20px;
}
>>>>>>> d47ac33 (commit style)
>>>>>>> 8dce45f (commit style)
